/* CSS files --> abilities.html */
body{
    background-color: #ba79f0;
}
.table-menu{
    width:100%; 
    text-align: center;
    background-color: rgb(255, 127, 244);
} 
h1{
    text-align: center; 
    font-family: cursive;
    background-color: #FFCFDF;
} 
h4{
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h5{ 
    text-align: center; 
    font-family: Aclonica; 
    font-weight: normal;
}
h2{ 
    text-align: center;
    background-color: #FFCFDF;
} 
.table-skills{
    margin-left: auto; 
    margin-right: auto; 
    background-color: #FEFDCA;
}