/* CSS files --> contact.html */
body{
    background-color: #ba79f0;;
}
table{
    width:100%; 
    text-align: center;
    background-color: #eb87e2;
}
h1{
    text-align: center;
    font-family: cursive;
    background-color: #eb87e2;
}